<div style='background:#dbc6b8'>

	{{ dataService.count }}
	<button (click)="increaseCount()" >Increase</button>
</div>
<br>
<br>
<!-- <div style='background:#dbc6b8'>
	<hello name="{{ name }} - {{ age }}"> </hello>

</div> -->

<!-- <div> {{ _myData | json }} </div> -->


<table>
	<thead>
		<tr>
			<th>UserID</th>
			<th>Screenid</th>
			<th>Screen Name</th>
			<th>Access Rights</th>
		</tr>
	</thead>
	<tbody>
		<tr role="row" *ngFor="let i of _myData">
			<td>{{ i.UserId }}</td>
			<td>{{ i.ScreenId }}</td>
			<td>{{ i.ScreenName }}</td>
			<td>{{i.AccessRight}}</td>
		</tr>

	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>UserID</th>
			<th>Screenid</th>
			<th>Screen Name</th>
			<th>Access Rights</th>
		</tr>
	</thead>
	<tbody>
		<tr role="row" *ngFor="let i of _data">
			<td>{{ i.UserId }}</td>
			<td>{{ i.ScreenId }}</td>
			<td>{{ i.ScreenName }}</td>
			<td>{{i.AccessRight}}</td>
		</tr>

	</tbody>
</table>