<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    <!-- END LOGO PLACEHOLDER -->

  </div>

  <!-- pulled right: nav area -->
  <div class="pull-right">

    <div id="menu" class="btn-header transparent pull-right" (click)="menuClick.next()">
      <span> <a title="Menu" data-action="toggleMenu">
          <fa-icon [icon]="icMenu"></fa-icon>
        </a> </span>
    </div>

    <div id="logout" class="btn-header transparent pull-right">
      <span> <a title="Sign Out" data-action="userLogout"
          data-logout-msg="You can improve your security further after logging out by closing this opened browser">
          <fa-icon [icon]="icSignOut"></fa-icon>
        </a> </span>
    </div>

  </div>
  <!-- end pulled right: nav area -->

</header>